// This file doesn't work because css imports via webpack aren't working.

* {
	box-sizing: border-box;
}

.control-panel {
	position: fixed;
	top: 1rem;
	left: 1rem;
	bottom: 1rem;
	width: 240px;

	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
}
